# Site Metadata
PUBLIC_SITE_TITLE="Your Docs Title"
PUBLIC_SITE_DESCRIPTION="Your site description."
PUBLIC_SITE_KEYWORDS="docs, documentation"
PUBLIC_SITE_URL="https://your-docs-url.com"

# ActivityPub / Fediverse (optional)
# Used for the fediverse:creator metatag
# PUBLIC_AP_INSTANCE_URL=https://ap.example.com
# PUBLIC_AP_USERNAME=yourname
